@charset "utf-8";
body {
    font-family: "Helvetica Neue", "Segoe UI", "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
    background-color: #ebd5ff;
    color: #313131;
}

.title {
    display: none;
}

.card-area {
    width: 100%;
    height: 80vh;
    margin-top: 60px;
    position: relative;
}

.card {
    width: 150px;
    height: 245px;
    background-image: url(./img/circle_small.jpg);
    background-repeat: repeat;
    border: solid 1px #313131;
    border-radius: 5px;
    position: absolute;
    top: 20%;
    left: 30%;
    /* animation-name: rolling;
    animation-duration: 4s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
    transform-origin: right bottom; */
}

.card-01 {
    animation-delay: 1200ms;
    animation-name: rollingleft;
}

.card-02 {
    animation-delay: 1100ms;
}

.card-03 {
    animation-delay: 1s;
    animation-name: rollingright;
}

.move {
    animation-name: move;
    animation-delay: 1s;
    animation-duration: 4s;
    animation-iteration-count: 1;
    transform-origin: center center;
}

.moveleft {
    animation-name: moveleft;
    animation-delay: 1s;
    animation-duration: 4s;
    animation-iteration-count: 1;
    transform-origin: center center;
}

.movecenter {
    animation-name: movecenter;
    animation-delay: 1s;
    animation-duration: 4s;
    animation-iteration-count: 1;
    transform-origin: center center;
}

@keyframes rollingright {
    /* 0% { */
    0% {
        transform: none;
    }
    /* 100% { */
    50% {
        -webkit-transform: rotateZ(720deg);
    }
    70% {
        transform: translateX(500px);
    }
    100% {
        transform: translateX(0px);
    }
}

@keyframes rolling {
    /* 0% { */
    0% {
        transform: none;
    }
    /* 100% { */
    50% {
        -webkit-transform: rotateZ(720deg);
    }
    100% {
        transform: translateX(0px);
    }
}

@keyframes rollingleft {
    /* 0% { */
    0% {
        transform: none;
    }
    /* 100% { */
    50% {
        -webkit-transform: rotateZ(720deg);
    }
    70% {
        transform: translateX(-300px);
    }
    100% {
        transform: translateX(0px);
    }
}

@keyframes move {
    0% {
        transform: none;
    }
    60% {
        transform: rotate(1080deg);
    }
    80% {
        transform: translateX(500px) rotate(360deg);
    }
    100% {
        transform: translateX(0px);
    }
}

@keyframes moveleft {
    0% {
        transform: none;
    }
    60% {
        transform: rotate(1080deg);
    }
    80% {
        transform: translateX(-300px) rotate(360deg);
    }
    100% {
        transform: translateX(0px);
    }
}

@keyframes movecenter {
    0% {
        transform: none;
    }
    100% {
        transform: rotate(1080deg);
    }
}